.Rproj.user
.Rhistory
.RData
.Ruserdata
Rhistory
Data/Output_10.zip
Data/Output_5.zip
Example_scaling_model
Code/.Rhistory
Output/excess_singles_v01
Output/excess_singles_v02
Figures/excess_singles
Data/13100768-eng.zip
Data/17100005-eng.zip
Data/pdfs_canada
Data/Toronto